<%- include('../partials/header') %>
<h3>Please fill out your bio to continue.</h3>
<form id="add-bio" action="/profiles?_method=PUT" method="POST">    
    <textarea name="bio" form_id="add-bio" rows="4" cols="50" placeholder="Enter your bio here..."></textarea>
    <br>
    <input type="submit" value="Submit Bio">
</form>






<%- include('../partials/footer') %>