@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: palegoldenrod;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://static01.nyt.com/images/2019/10/22/world/xxtrieste-dispatch1/merlin_162847551_6c371d82-c9c6-4665-9a81-318a98f15fb2-superJumbo.jpg);
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr; 
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 16px 16px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding: 4px 14px 4px 14px;
  background-color:#436A92;  
  margin: 0;
}

#logo {
  object-fit: contain;
  margin-right: auto;
  font-family: 'Seaweed Script', cursive;
  font-size: 20px;
  color: red;
  font-weight: bolder;
}

nav > a {
  padding: 0 14px 0 14px;
  font-weight: bold;
}

body > main {
  /*border: 10px solid red;*/
}

#show-page {
  border: thin solid palegoldenrod;
  padding: 15px;
  background-color:#436A92;
}

table {
  margin-top: 15px;
  font-size: 12px;
  border: thin solid palegoldenrod;
  background-color:#436A92;  
}

table thead th {
  padding: 5px;
  border-bottom: 1px solid rgba(0,0,0,.12);
}
 #table-body {
  border-bottom: 1px solid rgba(0,0,0,.12);
}

table td {
  padding: 10px;
  text-align: center;
}

#add-review-form {
  justify-self: center;
  width: 30%;
  position: relative;
  left: 10%;
  margin: 20px 0 20px 0;
  border: thin solid palegoldenrod;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #436A92;
} 

button {
  background-color: blanchedalmond;
  color: red;
}

#review-form-item {
  background-color: blanchedalmond;
  color: #436A92;
}


